<div class="posts">
  {% for post in site.posts %}
  <div class="post-teaser">
      {% if post.thumbnail %}
      <div class="post-img">
          <a aria-label="{{ post.title }}" href="{{ post.url }}">
              <img alt="{{ post.title }}" src="{{ post.thumbnail }}">
          </a>
      </div>
      {% endif %}

      <span>
        <header>
          <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url }}">
            {{ post.title }}
          </a>
        </header>

        {% if site.excerpt or site.theme_settings.excerpt %}
            <div class="excerpt">
                {% if site.excerpt == "truncate" %}
                   {{ post.content | strip_html | truncate: '250' | escape }}
                {% else %}
                   {{ post.excerpt | strip_html | escape }}
                {% endif %}
            </div>
        {% endif %}

    </span>
  </div>
  {% endfor %}
</div>
