<div class="posts">
  {% for post in site.posts %}
  <div class="post-teaser">
    <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url }}">
      {% if post.thumbnail %}
      <div class="post-img">
        <img alt="{{ post.title }}" src="{{ post.thumbnail }}">
      </div>
      {% endif %}

      <h2>{{ post.title }}</h2>
      
      {% if post.excerpt %}
      <div class="excerpt">
        {% if post.excerpt == "truncate" %}
        {{ post.content | strip_html | truncate: '250' | escape }}
        {% else %}
        {{ post.excerpt | strip_html | escape }}
        {% endif %}
      </div>
      {% endif %}
      
    </a>
  </div>
  {% endfor %}
</div>
