<footer>
  <nav>
    <span><a href="mailto:es.ist.zu.laut@gmx.de?subject=Newsletter-Anforderung&body=Bitte%20sendet%20mir%20den%20Newsletter!">Newsletter anfordern</a></span>
    <span><a href="https://www.change.org/p/stoppt-den-ausbau-von-autobahnen-erhöht-den-lärmschutz-für-anwohner" target="_blank">Petition unterzeichnen</a></span>
  </nav>
  <br>
  <div>
    <a href="/impressum.html">Impressum</a>
    •
    <a href="/datenschutz.html">Datenschutz</a>
    <p id="spenden">Spendenkonto bei der Siedlergemeinschaft Goldstein:
      DE04&nbsp;5019&nbsp;0000&nbsp;4202&nbsp;1790&nbsp;59,
      Bitte Stichwort „BI&nbsp;A5“ angeben!
    </p>
  </div>
</footer>
