<a href="https://hessen.social/@esistzulaut" target="_blank" title="Die BI auf Mastodon"><img src="/assets/img/logo-mastodon.png" alt="Die BI auf Mastadon"></a>
<a href="https://www.instagram.com/es.ist.zu.laut/" target="_blank" title="Die BI auf Instagram"><img src="/assets/img/logo-instagram.jpeg" alt="Die BI auf Instagram"></a>
<a href="https://www.youtube.com/@BurgerinitiativeGrieshei-yy3sc/videos" target="_blank" title="Die BI auf YouTube"><img src="/assets/img/logo-youtube.jpeg" alt="Die BI auf YouTube"></a>
<a href="https://www.tiktok.com/@keinausbaudera5" target="_blank" title="Die BI auf TikTok"><img src="/assets/img/logo-tiktok.jpeg" alt="Die BI auf TikTok"></a>
<a href="mailto:es.ist.zu.laut@gmx.de" title="Kontakt zur BI mittels e-Mail"><img src="/assets/img/e-mail.png" alt="Sende der BI eine e-Mail"></a>
