html, body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  overflow-wrap: anywhere;
  box-sizing: border-box;
  padding: 2px;
}

img {
  max-width: 100%;
}

img + em {
  display: block;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 0.5em;
}

dl {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position:relative;
}

dl > label {
  width: calc((100% / 3) - 3 * 10px);
  margin: 0;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
}

@media screen and (max-width: 800px) {
  dl > label {
    width: calc((100% / 2) - 2 * 13px);
  }
}

@media screen and (max-width: 500px) {
  dl > label {
    width: 100%;
  }
}

dl > label:hover {
  background: #f7f7f7;
}

dl > label > input {
  display: none;
}

dl > label > dd {
  transform: scale(0);
}

dd::after {
  content: "×";
  font-size: 180%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 0.8em;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

dl > label > dd, dl > label > dd > * {
  opacity: 0;
}

dl > label > input:checked + dt + dd {
  transition: opacity,transform 1s;
  transform: scale(1);
  opacity: 1;
  z-index: 1;
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px 10px 10px;
}

dl > label > input:checked + dt + dd > * {
  transition: opacity 1s;
  opacity: 1;
}

dd {
  margin: 0;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  z-index: -1;
  background: white;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
  padding: 0 10px;
  border: 1px solid lightgrey;
  background: white;
}

header {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 80px auto; 
  gap: 5px 5px; 
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-areas: 
    "logo menu"
    "title title";
}

iframe {
  max-width: 100%;
}

.mainpage header {
  padding-top: 3rem;
  grid-template-columns: 1fr 2.93fr; 
  gap: 5px 5px; 
  align-items: end;
}

.mainpage header a {
  line-height: 0;
}

.mainpage header > div {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 2fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "left-img right-img"
    "subtitle subtitle";
  align-items: end;
}

header h1 { grid-area: title; }
.subtitle { grid-area: subtitle; }
nav { grid-area: menu; }

nav {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 8px;
}

nav a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  margin-bottom: 5px;
  text-decoration: none;
}

nav a:nth-child(1) { background-color: #8DF98D; }
nav a:nth-child(2) { background-color: #F7D452; }
nav a:nth-child(3) { background-color: #7FF8FA; }
nav a:nth-child(4) { background-color: #FFF65C; }
nav a:nth-child(5) { background-color: #F7A8A9; }
nav a:nth-child(6) { background-color: #D4C7FB; }
nav a:nth-child(7) { background-color: #7EFFEA; }

.mainpage nav {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  nav {
    max-width: 640px;
  }
  
  .mainpage nav {
    text-align: center;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  nav a {
    padding: 0.5rem 0.95rem;
  }
  .mainpage header {
    padding-top: 0;
  }
  .mainpage nav {
    margin-top: 0.2rem;
  }
}

#download_page #main-content a {
  display: flex;
}

#download_page #main-content img {
  width: 200px;
}

#download_page #main-content em {
  margin: 1rem;
}

#socialmedia_page #main-content a {
  line-height: 32px;
}

#socialmedia_page #main-content img {
  width: 32px;
  float: left;
  margin: 0 5px 0 0;
}

#archiv_page blockquote {
  margin: 0 1em;
  background: #eeeeee;
  padding: 0.5em;
}

#archiv_page blockquote p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  color: #333;
}
