body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
}

img {
  max-width: 100%;
}

img + em {
  display: block;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 0.5em;
}

header {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 80px auto; 
  gap: 5px 5px; 
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-areas: 
    "logo menu"
    "title title";
}

.mainpage header {
  padding-top: 3rem;
  grid-template-columns: 1fr 2.93fr; 
  gap: 5px 5px; 
  align-items: end;
}

.mainpage header a {
  line-height: 0;
}

.mainpage header > div {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 2fr 1fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "left-img right-img"
    "subtitle subtitle";
  align-items: end;
}

header h1 { grid-area: title; }
.subtitle { grid-area: subtitle; }
nav { grid-area: menu; }

nav {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 8px;
}

nav a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  margin-bottom: 5px;
  text-decoration: none;
}

nav a:nth-child(1) { background-color: #8DF98D; }
nav a:nth-child(2) { background-color: #F7D452; }
nav a:nth-child(3) { background-color: #7FF8FA; }
nav a:nth-child(4) { background-color: #FFF65C; }
nav a:nth-child(5) { background-color: #F7A8A9; }
nav a:nth-child(6) { background-color: #D4C7FB; }
nav a:nth-child(7) { background-color: #7EFFEA; }

.mainpage nav {
  margin-top: 1rem;
}

.mainpage nav a {
  padding: 1rem 1.9rem;
  justify-content: center;
}

@media (max-width: 1024px) {
  nav {
    max-width: 640px;
  }
  
  .mainpage nav {
    text-align: center;
  }
}

@media (max-width: 640px) {
  nav a {
    padding: 0.5rem 0.95rem;
  }
}

#download_page #main-content a {
  display: flex;
}

#download_page #main-content img {
  width: 200px;
}

#download_page #main-content em {
  margin: 1rem;
}

#socialmedia_page #main-content a {
  line-height: 32px;
}

#socialmedia_page #main-content img {
  width: 32px;
  float: left;
  margin: 0 5px 0 0;
}

#archiv_page blockquote {
  margin: 0 1em;
  background: #eeeeee;
  padding: 0.5em;
}

#archiv_page blockquote p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  color: #333;
}
