html,
body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden auto;
  overflow-wrap: anywhere;
}

#backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 25%);
  display: none;
}

body.backdrop #backdrop {
  display: block;
}

.page-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

section {
  height: 100%;
}

img {
  max-width: 100%;
}

img + em {
  display: block;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 0.5em;
}

@media screen {
  dl {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
  }

  dl > label {
    width: calc((100% / 3) - 3 * 10px);
    margin: 0;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  dl > label {
    width: calc((100% / 2) - 2 * 13px);
  }
}

@media screen and (max-width: 500px) {
  .page-wrapper {
    padding: 10px;
  }

  dl > label {
    width: 100%;
  }
}

@media screen {
  body:not(.backdrop) dl > label:hover {
    background: #f7f7f7;
  }

  dl > label > input {
    display: none;
  }

  dl > label > dd {
    transform: scale(0);
  }

  dl > label > dt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  dl > label > dt > .open {
    text-align: right;
  }

  dd::after {
    content: "×";
    font-size: 180%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 0.8em;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }

  dl > label > dd,
  dl > label > dd > * {
    opacity: 0;
  }

  dl > label > input:checked + dt + dd {
    transition: opacity, transform 1s;
    transform: scale(1);
    opacity: 1;
    z-index: 1;
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px 10px 10px;
  }

  dl > label > input:checked + dt + dd > * {
    transition: opacity 1s;
    opacity: 1;
  }

  dd {
    margin: 0;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    z-index: -1;
    background: white;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 0 10px;
    border: 1px solid lightgrey;
    background: white;
  }
}

video {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.socialmedia {
  text-align: right;
}

.socialmedia img {
  width: 30px;
}

header.top {
  display: grid;
  grid-template-columns: 80px auto auto;
  gap: 5px 10px;
  align-items: flex-start;
  grid-template-areas:
    "logo menu socialmedia"
    "logo title title";
}

blockquote {
  display: flex;
  background: #eeeeee;
  margin: 0 0 0 1em;
  border-left: 10px solid rgba(0, 0, 255, 0.8);
  padding: 0.5em 0 0.5em 0.5em;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote p:first-of-type {
  margin-top: 0;
}

#logo {
  grid-area: logo;
}

#header-2 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "menu socialmedia";
  align-items: flex-start;
}

footer {
  border-top: 1px solid grey;
  padding: 1rem 0;
}

iframe {
  max-width: 100%;
}

.mainpage header.top {
  padding-top: 2rem;
  grid-template-columns: 1fr 2.93fr;
  gap: 5px 5px;
  margin-right: -5px;
  align-items: end;
}

.mainpage header.top a {
  line-height: 0;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "slideshow slideshow"
    "subtitle subtitle";
  align-items: end;
  position: relative;
  overflow: auto;
  height: 100%;
}

.slideshow-container {
  grid-area: slideshow;
  display: flex;
  gap: 5px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.slideshow-container > div[data-src] {
  min-width: 50%;
  height: 100%;
  background-size: cover;
}

header.top h1 {
  grid-area: title;
  margin: 0;
  align-self: end;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

.subtitle {
  grid-area: subtitle;
  height: 100%;
}
nav {
  grid-area: menu;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

nav > span {
  display: inline-block;
  border: 0.5px solid rgb(20, 43, 139);
  border-radius: 5px;
  background: #eeeeee;
  padding: 1.5px;
}

nav > span a {
  display: inline-block;
  background: rgb(20, 43, 139);
  color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
  padding: 0.4rem 1rem 0.4rem 0.7rem;
  border-radius: 4px;
}

nav > span a::before {
  display: inline-block;
  content: "➜";
  color: #eeeeee;
  margin-right: 0.5rem;
  transform: rotate(-45deg);
}

nav > span:hover a,
nav > span:hover a::before {
  color: orangered;
}

table {
  background: #eeeeee;
}

td,
th {
  padding: 2px;
  white-space: nowrap;
}

td:last-child {
  white-space: normal;
}

td {
  background: white;
}

.posts {
  display: grid;
  gap: 1rem;
  margin: 0.5rem 0 1rem;
}

.post-teaser {
  box-shadow: 2px 2px 10px #cccccc;
  padding-bottom: 2.5rem;
  position: relative;
  cursor: pointer;
}

.post-teaser:hover {
  background-color: #eeeeee;
}

.post-teaser .post-img {
  text-align: center;
  height: 300px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.post-teaser h2 {
  font-weight: bold;
  margin-top: 0.5rem;
}

.post-teaser .continue-read {
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.post-teaser h2,
.post-teaser .excerpt,
.post-teaser .continue-read {
  padding: 0 0.5rem;
}

.post-teaser a {
  text-decoration: none;
  color: black;
}

@media (min-width: 640px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }

  .post-teaser h2 {
    margin-top: 1rem;
  }

  .left {
    max-width: 60%;
    float: left;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
  }

  .right {
    max-width: 60%;
    float: right;
    margin: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
  }

  img.left::before,
  img.right::before {
    content: "";
    clear: both;
    display: table;
  }

  .small {
    max-width: 40%;
  }

  .micro {
    max-width: 100px;
  }

  .post-teaser h2,
  .post-teaser .excerpt,
  .post-teaser .continue-read {
    padding: 0 1rem;
  }
}

.mainpage nav {
  margin-top: 0.1rem;
}

#download_page #main-content ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
}

#download_page #main-content li {
  text-align: center;
}

#download_page #main-content img {
  width: 200px;
}

@media (min-width: 1024px) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #download_page #main-content ul {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1024px) {
  nav {
    max-width: 640px;
  }

  .mainpage nav {
    text-align: center;
  }
}

@media (max-width: 640px) {
  header.top {
    grid-template-areas:
      "logo menu socialmedia"
      "title title title";
  }

  header.top h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  nav > a {
    padding: 0.5rem 0.95rem;
  }
  .mainpage header.top {
    padding-top: 0;
  }
  .mainpage nav {
    margin-top: 0.2rem;
  }
  #header-2 {
    grid-template-columns: 1fr 16px;
  }
  .socialmedia {
    width: 20px;
  }
}

#argumente_page {
  height: 100vh;
}

@media print {
  nav,
  .socialmedia {
    display: none;
  }

  html,
  body,
  .page-wrapper,
  #argumente_page,
  section {
    height: auto;
  }

  section::before {
    clear: both;
  }

  dd {
    margin-inline-start: 0;
  }

  dl > label > input,
  dl > label > dt {
    display: none;
  }
}
