<!DOCTYPE html>
<html lang="de">
  {% include html-head.html %}

  <body class="mainpage">
    <div class="page-wrapper">
      <header class="top">
        <a href="{{ '/' | absolute_url }}">
          <img src="{{ '/assets/img/Logo_BI_00.gif' }}" />
        </a>

        <div class="header-content">
          <!-- Slideshow Container -->
          <div class="slideshow-container">
            {% assign slideshow_files = site.static_files | where_exp: "file", "file.path contains 'assets/img/slideshow'" %}
            {% for file in slideshow_files %}
              {% if file.extname == ".jpg" or file.extname == ".jpeg" or file.extname == ".png" or file.extname == ".gif" %}
                <div style="background-image: url('{{ file.path }}')" alt="{{ file.name }}"></div>
              {% endif %}
            {% endfor %}
          </div>
          
          <!-- Static Banner -->
          <img src="/assets/img/TextLogo.gif" class="subtitle" alt="Schriftzug der Bürgerinitiative" />
        </div>
      </header>

      <div id="header-2">
        <nav>
          {% include menu.html %}
        </nav>

        <div class="socialmedia">
          {% include socialmedia.html %}
        </div>
      </div>

      <section id="main-content">
        {{ content }}
      </section>

      {% include footer.html %}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        const container = document.querySelector(".slideshow-container");
        if (container.childElementCount > 1) {
          const width = container.offsetWidth / 2 + 5
          let pos = 0
          setInterval(() => {
            pos = pos + width
            if (pos + width > container.scrollWidth) {
              pos = 0
            }
            container.scrollTo(pos, 0)
          }, 3000);
        }
      });
    </script>
  </body>
</html>
