<!DOCTYPE html>
<html lang="de">
  {% include html-head.html %}

  <body id="{{ page.id }}_page">
    <div id="backdrop"></div>
    <div class="page-wrapper">
      <header class="top">
        <a href="{{ '/' | absolute_url }}" id="logo">
          <img src="{{ '/assets/img/Logo_BI_00.gif' }}" />
        </a>
  
        <nav>
          {% include menu.html %}
        </nav>
  
        <div class="socialmedia">
          {% include socialmedia.html %}
        </div>
  
        <h1>{{ page.title }}</h1>
      </header>
      
      <section>
        {% assign blocks = content | split: '<!--break-->' %}
        {{ blocks[0] }}
        <dl>
          {% assign tiles = blocks[1] | strip_newlines | split: "<h3" | where_exp: "entry", "entry != ''" %}
          {% for entry in tiles %}
            {% assign parts = entry | split: "</h3>" %}
            {% assign parts2 = parts[0] | split: ">" %}
            {% assign id = parts2[0] %}
            <label{{ parts2[0] }}>
              <input type="radio" name="tile">
              <dt>{{ parts2[1] }}
                <a class="open">Lesen...</a>
              </dt>
              <dd>
                <h3>{{ parts2[1] }}</h3>
                {{ parts[1] }}
              </dd>
            </label>
          {% endfor %}
        </dl>
      </section>

      {% include footer.html %}
    </div>

    <script type="application/javascript">
      document.querySelectorAll("dl dt").forEach(dt => dt.addEventListener("click", () => document.body.classList.toggle("backdrop", true)))
      document.querySelectorAll("dl dd").forEach(dd => {
        dd.addEventListener("click", (event) => {
          if (event.target.tagName !== "A") {
            const checkedInputs = document.querySelectorAll("input[type='radio']:checked")
            checkedInputs.forEach(radio => (radio.checked = false))
            document.body.classList.toggle("backdrop", false)
            event.preventDefault()
          }
        })
      })
    </script>
  </body>
</html>
